{% extends 'layout.server.view.html' %}

{% block content %}
<body class="ng-cloak skin-blue sidebar-mini" ng-class="{'sidebar-collapse': sidebarCollapse}">
  <header ng-include="'/modules/core/client/views/header.client.view.html'" class="main-header navbar navbar-fixed-top navbar-inverse relative-header"></header>
  <aside ng-include="'/modules/core/client/views/sidebar.client.view.html'" class="main-sidebar"></aside>
  <div class="content-wrapper">
    <section class="content-header">
      <section class="content">
          <section ui-view></section>
      </section>
    </section>
  </div>

  <!--Embedding The User Object-->
  <script type="text/javascript">
    var user = {{ user | json | safe }};
  </script>

  <!--Load The Socket.io File-->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

  <!--Application JavaScript Files-->
  {% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}

  {% if livereload %}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
  {% endif %}
</body>
{% endblock %}
