<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="Skill Finder Q" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        School HR and Administration Tool Suite
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://ils.com" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2><strong>S</strong>kill Finder Q</h2>
      <p><a target="_blank" href="http://www.skillfinderq.com/">Skill Finder Q</a> is a tool for successfully managing your school's hiring process</p>
    </div>
    <div class="col-md-4">
      <h2><strong>F</strong>uture App 2</h2>
      <p><a target="_blank" href="http://www.skillfinderq.com/">Future school sofwtare</a></p>
    </div>
    <div class="col-md-4">
      <h2><strong>F</strong>uture App 3</h2>
      <p><a target="_blank" href="http://www.skillfinderq.com/">Future school sofwtare</a></p>
    </div>
  </div>
  <br>Enjoy
  <br>The Skill Finder Q Team.
  <br>Developed by Electric Pineapple, LLC.
</section>
