
<section class="content-header">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-body" >
        <div class="box-header">
          <div id="topic" class="box-title box-header with-border" style="width:100%">
            <h3 class="box-title" style="width:100%">
              <b><span>Candidate: {{vm.interview.candidate}}</b></span>
            </h3>
          </div>
          <div class="box-tools"></div>
        <div class="progress-group col-md-3" ng-repeat="unit in vm.getUnits()">
          <span class="progress-text">{{unit.unit}}</span>
          <span class="progress-number"> {{ (unitQuestions | completed).length}} / {{(unitQuestions = (vm.interview.questions | section: {module:'Hires', unit: unit.unit} )).length}}</span>
          <uib-progressbar max="unitQuestions.length" value="(unitQuestions | completed).length">
            <span style="color:white; white-space:nowrap;">{{ (unitQuestions | completed).length}}  / {{unitQuestions.length}}</span>
          </uib-progressbar>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <div id="topic" class="box-title box-header with-border" style="width:100%">
            <h3 class="box-title" style="width:100%">
              <b><span>{{vm.currentSection.chapter}}</b> - {{vm.currentSection.section}}</span>
              <span class="pull-right">Questions for {{vm.interview.candidate}}</span>
            </h3>
          </div>
          <div class="box-tools"></div>
        </div>
        <div class="box-body table-responsive no-padding">
          <table id="attitude-table" class="table table-fixed table-striped">
            <tbody>
              <tr id="attitude-header">
                <th class="text-center" width="1%"></th><th>Question</th> <th class="text-center">Rating</th>
              </tr>
              <tr ng-repeat="question in filtered = (vm.interview.questions | section: vm.currentSection)">
                <td align="center"></td>
                <td>
                  {{question.question}}
                  <a href="#" data-size="medium" data-toggle="popover" data-trigger="hover" title="{{question.hint}}" data-content="question.hint" data-original-title="Information"><i class="fa fa-question-circle fa-lg"></i></a>
                </td>
                <td align="center">
                  <span>
                    <input ng-show="question.rating.ratingType==='trueFalse'" type="checkbox" ng-model="question.rating.trueFalse" ng-checked="question.rating.trueFalse" ng-indeterminate="true">
                    <uib-rating ng-show="question.rating.ratingType==='rating4'" ng-model="question.rating.value" max="4" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" enable-reset="true" aria-labelledby="default-rating"></uib-rating>
                    <uib-rating ng-show="question.rating.ratingType==='rating5'" ng-model="question.rating.value" max="5" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" enable-reset="true" aria-labelledby="default-rating"></uib-rating>
                    <input ng-show="question.rating.ratingType==='xofy'" type="text" size="2" ng-model="question.rating.value"><span ng-show="question.rating.ratingType==='xofy'"> of </span><input ng-show="question.rating.ratingType==='xofy'" type="text" size="2" ng-model="question.rating.max">
                </span>
                </td>
              </tr>
              <tr>
                <td style="vertical-align:middle"><button ng-disabled="!vm.newQuestion" ng-click="vm.addRow(); " class="btn btn-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add Question"><i class="fa fa-plus"></i></button></td>
                <td colspan="2"><input type="text" name="question" data-ng-model="vm.newQuestion" class="form-control" cols="30" rows="1" placeholder="Enter your question"></input>
                                <input type="text" name="questionHint" data-ng-model="vm.newQuestionHint" class="form-control" cols="30" rows="1" placeholder="Enter help information about your question"></input></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<button ng-click="vm.back()" class="btn" data-toggle="tooltip" data-placement="top" title="back" data-original-title="Back">Back</button>
<button ng-click="vm.next()" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="next" data-original-title="Next">Next: {{vm.nextSection.unit}}</b> {{vm.nextSection.section}} >></button>
