<section>
  <div class="page-header">
    <h1 ng-bind="vm.general.title"></h1>
  </div>
  <div class="pull-right" ng-show="vm.general.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="generals.edit({ generalId: vm.general._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.general.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.general.user" ng-bind="vm.general.user.displayName"></span>
      <span ng-if="!vm.general.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.general.content"></p>
</section>
